/* style from nav bar */
ul .links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li .links{
  float: left;
}

li a, .dropbtn .links{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn .links{
  background-color: #ffe6e6;
}

/* button refresh design */
.button {
  padding: 8px 13px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #f4511e;
  border: none;
  border-radius: 7px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #f4511e}

.button:active {
  background-color: #ffe6e6;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* image style */
#new_asts{
  widht:250px;
}

#new_header{
  background-color: #ffe6e6;
  height: 25px;
}

.new_info_class{
  height: auto;
  border: 1px solid #000;
}

/* Scroll settings */
#tag_content {
  height: auto;
  overflow: auto;
}

/*#empty-div {
  height: 800px;
}*/

/* row_new_1 */
#row_new_1 {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  margin-top: 20px;
}

/* hidde the Home URL*/
#header{
        color: gray;
        font-family: arial;
}

/* button ad refresh hover */
button:hover{
  background-color: #ffe6e6;
}

/* hide the Home URL*/
.home{
    visibility: hidden;
}

/* color from section_mid */
.section_mid{
  background-color: #ffe6e6;
}

/* style footer */
ul .footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f4511e;
}

li .footer{
  float: left;
}

li a .footer{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
