/* style from nav bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #ffe6e6;
}

/* image style */
#new_asts{
  widht:250px;
}

#new_header{
  background-color: #ffe6e6;
  height: 25px;
}

.new_info_class{
  height: 50%;
  border: 1px solid #000
}

/* hidde the Home URL*/
#header{
        color: gray;
        font-family: arial;
}

/* button ad refresh hover */
button:hover{
  background-color: #ffe6e6;
}

/* hide the Home URL*/
.home{
    visibility: hidden;
}

/* color from section_mid */
.section_mid{
  background-color: #ffe6e6;
}
